@media screen and (max-width: 720px) {
  header .container {
    flex-direction: column;
  }
  .botao {
    margin-top: 5px;
    width: 190px;
    height: 60px;
  }
}

@media screen and (min-width: 1000px) {
  .descricao {
    width: 50%;
  }
}
